<!-- These are reusable components 
    for the header 
-->

<header class="bg-noir text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="flex items-center">
      <img src="/images/logo.png" alt="Logo" class="w-8 h-8">
      <h1 class="ml-2 text-xl font-semibold">Ossama Saidi</h1>
    </div>
    <nav>
      <a href="/" class="ml-4 hover:underline">Home</a>
      <a href="#projects" class="ml-4 hover:underline">Projects</a>
      <a href="#articles" class="ml-4 hover:underline">Education</a>
      <a href="#contact" class="ml-4 hover:underline">Contact</a>
    </nav>
  </div>
</header>

  